.admin {
    width: 100%;
    height: 100%;
    background: rgba($color: #010d90, $alpha: 0.3);

    .adminPadre {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        .izquierda {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding: 3em 0;
            width: 50%;
            height: 100vh;

            .buscCupo {
                width: 100%;
                height: 40vh;
                padding: 3.5em .2em .2em .4em;
            }

            .mapCupo {
                width: 100%;
                height: 60vh;
                padding: .2em .2em 3.5em .4em;
            }
        }

        .derecha {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding: 3em 0;
            width: 50%;
            height: 100vh;

            .lisCupo {
                width: 100%;
                height: 50vh;
                padding: 3.5em .4em .2em .2em;
            }

            .descCupo {
                width: 100%;
                height: 50vh;
                padding: .2em .4em 3.5em .2em;
            }
        }
    }
}