<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cupos ICESI</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <section class="body">
        <section class="loginPadre">
            <div class="title">
                <h1>Cupos ICESI</h1>
            </div>
            <div class="loginForm">
                <div class="intro">
                    <div class="logoCont">
                        <img src="" alt="Logo Cupos ICESI" class="logo">
                    </div>

                    <h1>Te damos la bienvenida</h1>
                    <ul>
                        <li>Comparte tu vehiculo desde y hacia la universidad</li>
                        <li>Busca cupos al instante</li>
                        <li>Más fácil, rápido, comodo y seguro</li>
                    </ul>
                </div>
                <div class="form">
                    <h1 class="titleform">
                        <span>Login</span> / Sign Up</h1>
                    <form action="#" class="custom-form">
                        <div class="form-group" ng-class="{'not-empty': userName.length}">
                            <input type="text" class="form-control" name="user" id="user" ng-model="userName" />
                            <label for="user" class="animated-label">Correo</label>
                        </div>
                        <div class="form-group" ng-class="{'not-empty': passWord.length}">
                            <input type="password" class="form-control" name="pass" id="pass" ng-model="passWord" />
                            <label for="pass" class="animated-label">Contraseña</label>
                        </div>
                        <div class="contSubmit">
                            <div class="submit">
                                <button class="btn btn-primary btn-block" disabled>Ingresar</button>
                            </div>
                            <h2 class="textLoginWith">Or login with</h2>
                            <img src="" alt="Facebook" class="logoFb">
                            <img src="" alt="Google" class="logoGoogle">
                        </div>

                    </form>
                </div>
            </div>

            </div>
            </div>
            <div class="noCuenta">
                <a  href="#" class="textNoCuenta">No tienes una <span>cuenta?</span></a>
                <span class="separador"> / </span>
                <a  href="#" class="textPerdisteContrasena">Perdiste tu <span>contraseña?</span></a>
            </div>
        </section>
    </section>
</body>

</html>